original-config/src/main/resources/META-INF/original.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://cheuks.bin.com/schema/original" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans" targetNamespace="http://cheuks.bin.com/schema/original">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the dubbo services provided by original framework.]]></xsd:documentation>
	</xsd:annotation>




	<xsd:element name="service">
		<xsd:annotation>
			<xsd:documentation><![CDATA[remote invoke server]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="interface" type="xsd:token" use="required" />
<!-- 			<xsd:attribute name="alias" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[register alias name]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute> -->
			<xsd:attribute name="class" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Implementation class]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ref" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ref Implementation bean]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:string" default="1.0" />
			<xsd:attribute name="multiInstance" type="xsd:boolean" default="false" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="reference">
		<xsd:annotation>
			<xsd:documentation><![CDATA[reference remote invoke service]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="interface" type="xsd:string" use="required" />
			<xsd:attribute name="alias" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[register alias name]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:string" default="1.0" />
			<xsd:attribute name="multiInstance" type="xsd:boolean" default="false" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="registry">
		<xsd:complexType>
			<xsd:attribute name="address" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[zookeeper register]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="protocol">
		<xsd:complexType>
			<xsd:attribute name="name">
				<xsd:annotation>
					<xsd:documentation><![CDATA[server name]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="port" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[listen port]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>