original-db-manager/src/main/resources/META-INF/original-db.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://cheuks.bin.com/schema/db" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:tool="http://www.springframework.org/schema/tool" targetNamespace="http://cheuks.bin.com/schema/rmi" elementFormDefault="qualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the db-manager services provided by original framework.]]></xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="packagesToScanType">
		<xsd:attribute name="packagesToScan" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[扫描注解目录(查询com[正则]下所有.xml的文件) 例：com.ben,com.*.a,query,com.*$xml]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="mapperType">
		<xsd:attribute name="resource" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[扫描注解目录(查询com[正则]下所有.xml的文件) 例：mapper.*$xml]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="mappersType">
		<xsd:all>
			<xsd:element maxOccurs="1" name="packagesToScan" type="annotationPackagesToScanType"></xsd:element>
			<xsd:element minOccurs="0" name="mapper" type="mapperType"></xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="hibernateSessionFactoryType">
		<xsd:attribute id="class" use="optional" default="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<xsd:annotation><![CDATA[sessionFactory适配器]]></xsd:annotation>
		</xsd:attribute>
		<xsd:all>
			<xsd:element maxOccurs="1" name="dataSource" type="xsd:string"></xsd:element>
			<xsd:element maxOccurs="1" name="packagesToScan" type="xsd:string">
				<xsd:annotation><![CDATA[扫描实体类]]></xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.current_session_context_class" default="org.springframework.orm.hibernate5.SpringSessionContext" type="xsd:string">
				<xsd:annotation><![CDATA[]]>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" name="javax.persistence.validation.mode" type="xsd:string" default="none"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.dialect" type="xsd:string" fixed="MySQLDialect|MySQLInnoDBDialect|MySQLMyISAMDialect|OracleDialect|Oracle9Dialect|SybaseDialect|SybaseAnywhereDialect|SQLServerDialect|SAPDBDialect|	InformixDialect|HSQLDialect|IngresDialect|ProgressDialect|MckoiDialect|InterbaseDialect|PointbaseDialect|FrontbaseDialect|FirebirdDialect|PostgreSQLDialect|DB2390Dialect|DB2400Dialect|DB2Dialect"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.autoReconnect" type="xsd:string" fixed="false|true"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.show_sql" type="xsd:string" fixed="false|true"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.format_sql" type="xsd:string" fixed="false|true"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.hbm2ddl.auto" type="xsd:string" fixed="none|update|create"></xsd:element>
			<!-- 缓存 -->
			<xsd:element maxOccurs="1" name="hibernate.cache.region.factory_class" type="xsd:string" default="org.hibernate.cache.ehcache.EhCacheRegionFactory"></xsd:element>
			<xsd:element maxOccurs="1" name="cache.use_second_level_cache" type="xsd:string" fixed="true|false"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.cache.use_query_cache" type="xsd:string" fixed="true|false"></xsd:element>
			<xsd:element maxOccurs="1" name="hibernate.cache.provider_configuration_file_resource_path" type="xsd:string" default="META-INF/ehcache.xml"></xsd:element>
		</xsd:all>
	</xsd:complexType>




	<xsd:element name="config">
		<xsd:complexType>
			<xsd:all>
				<xsd:element minOccurs="0" maxOccurs="1" name="packagesToScanType" type="annotationPackagesToScanType"></xsd:element>
				<xsd:element minOccurs="0" maxOccurs="1" name="mappers" type="mappersType"></xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>